<!DOCTYPE html>
<html>
  <head>
    <title>Music Billboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Jace's Billboard Charts</h1>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer class="footer">
      <h3>Developed by <a href="http://www.jacegold.com">Jace P. Gold</a></h3>
    </footer>
  </body>
</html>
